
.treeview-container{
       height: 100vh;
       width: 350px;
       background: rgb(0,71,110);
       overflow-y: scroll;
}

.App-header {
       background-color: #282c34;
       min-height: 100vh;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       font-size: calc(10px + 2vmin);
       color: white;
       border-bottom: 1px solid #000;
     }

.menuList-container{
     
       list-style: none;
       margin-top: 0px;
       margin-bottom: 0px;
       text-align: left;
       color:white;
      
}